In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from Bio import SeqIO

In [41]:
seq_data = pd.DataFrame(columns=['seq_id', 'seq_len', 'orgn_name', 'seq_description'])
file_data = pd.DataFrame(columns=['orgn_name', 'file_name', 'num_seqs_raw'])
data_dir = './local_data/'

for file in os.listdir(data_dir):
    if 'ests' in file and file.endswith('.fasta'):
        fullpath = os.path.join(data_dir, file)
        orgn_name = file.split('_ests')[0].replace('_', ' ')

        with open(fullpath, 'r') as infile:
            d = {
                'orgn_name': orgn_name, 
                'file_name': file, 
                'num_seqs_raw': infile.read().count('>')
            }
            file_data = file_data.append(d, ignore_index=True)
            file_data['num_seqs_raw'] = file_data['num_seqs_raw'].astype(
                np.int64
            )

        for seq in SeqIO.parse(fullpath, 'fasta'):
            d = {
                'seq_id': seq.id,
                'seq_len': len(seq),
                'seq_description': seq.description,
                'orgn_name': orgn_name
            }
            seq_data = seq_data.append(d, ignore_index=True)
            seq_data['seq_len'] = seq_data['seq_len'].astype(
                np.int64
            )

In [40]:
file_data.head()

             orgn_name                       file_name  num_seqs_raw
0  Polistes canadensis  Polistes_canadensis_ests.fasta            43

In [42]:
seq_data.head()

,seq_id,seq_len,orgn_name,seq_description
0,DT319104.1,256,Polistes canadensis,DT319104.1 EST00001 Polistes canadensis adult ...
1,DT319105.1,465,Polistes canadensis,DT319105.1 EST00002 Polistes canadensis adult ...
2,DT319106.1,324,Polistes canadensis,DT319106.1 EST00003 Polistes canadensis adult ...
3,DT319107.1,236,Polistes canadensis,DT319107.1 EST00004 Polistes canadensis adult ...
4,DT319108.1,386,Polistes canadensis,DT319108.1 EST00005 Polistes canadensis adult ...

In [44]:
seq_data.describe()

          seq_len
count   43.000000
mean   357.697674
std     94.749176
min    149.000000
25%    297.500000
50%    366.000000
75%    420.000000
max    553.000000